In [4]:
%cd /Users/gardenmini/PycharmProjects/get_dataset/health

/Users/gardenmini/PycharmProjects/get_dataset/health

In [5]:
import pandas as pd
import pickle
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [6]:
health = pd.read_csv('health.txt', index_col=0)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
data = health.drop(columns=['YEAR_t', 'trainset']).dropna()

In [8]:
data = data[data.age_MISS == 0]
data = data.drop(columns='age_MISS')

In [9]:
data.index = np.arange(0,138309)

In [10]:
data.to_pickle('health.pkl')

In [42]:
with open('health.pkl', 'rb') as f:
    df = pickle.load(f)

In [43]:
df.ClaimsTruncated = df.ClaimsTruncated.astype('int').astype('category')

In [44]:
age = df.apply(lambda x: 0 if x.loc['age_05':'age_65'].sum()==1 else 1, axis=1)

In [45]:
df = df.drop(columns=['age_05', 'age_15', 'age_25', 'age_35'
                 , 'age_45', 'age_55', 'age_65', 'age_75'
                 , 'age_85'])

In [46]:
df.DaysInHospital = df.DaysInHospital.apply(lambda x: 0 if x == 0 else 1)

In [47]:
categorical = ['ClaimsTruncated', 'DaysInHospital', 'sexMALE', 'sexFEMALE',
               'sexMISS', 'labNull', 'drugNull']

In [48]:
df_categorical = df[categorical]
df_numerical = df.drop(columns = categorical)

In [49]:
hot_categorical = pd.concat([df_categorical[x].astype('int').astype('category') for x in df_categorical], axis=1)
hot_categorical.columns = df_categorical.columns

In [50]:
one_hot_numeric = pd.concat([pd.cut(df_numerical[name], 5) for name in df_numerical], axis=1)
one_hot_numeric.columns = df_numerical.columns
one_hot_numeric = pd.concat([pd.get_dummies(one_hot_numeric[name], prefix=one_hot_numeric[name].name)
                                     for name in one_hot_numeric], axis=1)

In [51]:
one_hot = pd.concat([hot_categorical.iloc[:, 2:], one_hot_numeric, hot_categorical.iloc[:, 0:2]], axis=1)
one_hot['age'] = age

In [52]:
%cd /Users/gardenmini/PycharmProjects/get_dataset/health

/Users/gardenmini/PycharmProjects/get_dataset/health

In [53]:
one_hot.rename(columns={'DaysInHospital': 'label'}, inplace=True)

In [54]:
train, test = train_test_split(one_hot, test_size=0.2)
train.index = range(len(train))
test.index = range(len(test))
train.to_pickle('./health_train.pkl')
test.to_pickle('./health_test.pkl')

In [55]:
one_hot.head()

,sexMALE,sexFEMALE,sexMISS,labNull,drugNull,"no_Claims_(0.958, 9.4]","no_Claims_(9.4, 17.8]","no_Claims_(17.8, 26.2]","no_Claims_(26.2, 34.6]","no_Claims_(34.6, 43.0]",...,"labCount_ave_(6.0, 8.0]","labCount_ave_(8.0, 10.0]","labcount_months_(-0.012, 2.4]","labcount_months_(2.4, 4.8]","labcount_months_(4.8, 7.2]","labcount_months_(7.2, 9.6]","labcount_months_(9.6, 12.0]",ClaimsTruncated,label,age
0,0,1,0,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1,0,0,1,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,1,0,1,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,1